* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
/*? 1. whats app container*/
.whatsapp-container {
  display: flex;
}
/*? 1.1 whats app side bar*/
.left-bar {
  display: flex;
  flex-direction: column;
  width: 411px;
  background-color: rgb(35, 34, 34);
  height: 100vh;
}
/*? 1.1.1 Left Bar Top*/
.left-bar-top {
  display: flex;
  padding: 7px 12px;
  background-color: rgb(57, 54, 54);
  justify-content: space-between;
  align-items: center;
}
.profile-pic img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.left-bar-top-content {
  display: flex;
  gap: 30px;
  font-size: 3vh;
  padding-right: 15px;
}
/*? 1.1.2 Left bar search button*/
.left-bar-search {
  display: flex;
  width: 411px;
  margin: 14px 8px;
}
.left-bar-search-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.left-bar-search-content input {
  padding: 8px;
  border-radius: 20px;
  background-color: rgb(57, 54, 54);
  color: white;
  font-size: 2.3vh;
  border: 0.5px solid white;
  width: 355px;
  text-align: center;
}
.fa-filter {
  font-size: 3vh;
}
